<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}}} -->
<main class="wp-block-group" style="padding-top:64px;padding-bottom:64px">
<!-- wp:post-title {"level":1,"fontSize":"3xl"} /-->
<!-- wp:post-featured-image {"align":"wide","height":"520px"} /-->
<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
<!-- wp:separator /-->
<!-- wp:post-navigation-link {"type":"previous"} /-->
<!-- wp:post-navigation-link {"type":"next"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->